*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
html,
body {
    height: 100%;
}
 
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    color: #fff;
}
 
a {
    text-decoration: none;
    color: #fff;
}
 
input,
button,
textarea,
select {
    font-family: inherit;
}
 
button {
    border: none;
    cursor: pointer;
}
 
 
textarea {
    resize: vertical;
    min-height: 100px;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
