@use './reset' as *;
@use './colors' as *;

html {
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	max-width: 1740px;
	padding: 0 3em;
	left: 50%;
	transform: translateX(-50%);
}

.menu__menu {
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 700;

	a {
		text-shadow: 0 0 6px #00000029;
		padding: 0.5em;
	}

	a:hover {
		color: var(--accent);
	}
}

////////////////
// NAVIGATION //
////////////////

nav {
	.nav_bg {
		position: fixed;
		width: 100%;
		height: 90px;
		z-index: 100;
		transition: background 0.3s;
	}

	.nav_bg--color {
		background: var(--dark-85);
		z-index: 100;
	}

	.menu__mobile-menu {
		position: relative;
		display: flex;
		height: 70px;
		justify-content: center;
		align-items: center;
		padding: 20px 0px 20px 20px;
		cursor: pointer;

		&--top,
		&--middle,
		&--bottom {
			transition: background-color 0.3s;
			height: 6px;
			width: 40px;
			background-color: var(--dark);
			border-radius: 100px;
			transition: transform 0.4s ease-in-out;
		}

		&--top {
			position: absolute;
			top: 20px;
		}

		&--bottom {
			position: absolute;
			bottom: 20px;
		}
	}

	.hide {
		display: none;
	}

	.top-show {
		top: 46%;
		transform: rotate(45deg);
	}

	.middle-show {
		transform: scale(0);
	}

	.bottom-show {
		bottom: 46%;
		transform: rotate(-45deg);
	}

	.menu__mobile-menu--area {
		display: none;
		position: absolute;
		flex-direction: column;
		top: 100px;
		right: 0;
		opacity: 0;
		background-color: var(--dark);
		padding: 0.5em 1em;
		border-radius: 5px;
		z-index: 120;
	}

	.nav {
		z-index: 100;
		top: 0;
		position: fixed;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 90px;

		.menu__mobile-languages:hover .menu__mobile-languages--all-items {
			display: block;
			animation: show-menu 0.5s forwards;
		}

		.menu__mobile-languages {
			display: flex;
			flex-direction: column;

			&--one-item {
				display: block;

				a {
					display: none;
					align-items: center;

					img {
						padding-right: 0.5em;
					}
				}
			}

			&--all-items {
				display: none;
				position: relative;
				opacity: 0;
				top: 100px;
				background-color: var(--dark);
				padding: 0.5em 1em;
				border-radius: 5px;
				z-index: 120;

				a {
					display: flex;
					align-items: center;

					img {
						padding-right: 0.5em;
					}
				}
			}
		}

		.menu__languages {
			display: none;

			a {
				display: flex;
				align-items: center;
				cursor: pointer;

				img {
					padding-right: 0.5em;
				}
			}
		}

		.active {
			display: flex;
			animation: show-menu 0.5s forwards;
		}
	}

	.logo {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		img {
			width: 150px;
		}
	}

	.menu__menu-desktop {
		display: none;
	}
}

//////////////////
// MAIN SECTION //
//////////////////

.main {
	position: relative;
	min-height: 100vh;
	width: 100%;

	&__hero-img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background: url('../img/Dysze PB i NNPB - TECHGAFIL.webp');
		background-size: cover;
		background-position: center;
	}

	&__hero-img-products {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		top: 0;
		left: 0;
		width: 100%;
		justify-content: center;
		align-items: center;
		gap: 0;

		&--one {
			width: 100%;
			height: 100vh;
			min-height: 500px;
			background: url('../img/NNPB - TECHGAFIL.webp');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
		&--two {
			width: 100%;
			height: 100vh;
			min-height: 500px;
			background: url('../img/PB - TECHGAFIL.webp');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&__hero-shadow {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100vh;
		background: linear-gradient(var(--dark-70), var(--dark-0));
	}

	&__hero-shadow--products-page {
		background: var(--dark-40);
	}

	&__text {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-between;
		top: 0;
		position: absolute;

		&--contact {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			bottom: 15rem;
		}

		&-icon {
			&--contact {
				width: 30px;
			}
		}

		&-header {
			margin-top: 5em;
			margin-bottom: 3rem;
			font-size: 3.2rem;
			font-weight: 100;
			text-shadow: 0 0 6px #00000029;
			text-align: center;

			span {
				font-weight: 700;
			}

			&--contact {
				font-size: 5.6rem;
				text-transform: uppercase;
				margin-bottom: 0.1em;
			}
		}

		&-paragraf {
			text-align: center;
			font-size: 1.6rem;
			font-weight: 300;
		}

		&-header--center {
			flex-grow: 1;
		}

		&-header--left,
		&-header--right {
			width: 100%;
			height: 100vh;
			min-height: 500px;
			cursor: pointer;
		}
	}
}

////////////////
// IMG SLIDER //
////////////////

.product-img {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 150;
	overflow: hidden;
	background: var(--dark-85);

	&__box {
		position: absolute;
		display: none;
		height: 100%;
		width: 100%;
		z-index: -1;
	}

	&__box--active {
		display: block;
	}

	&__img {
		width: 100vw;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	&__text {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		padding: 2em;
		background: var(--dark-40);
		font-size: 1.6rem;
	}

	&__close-btn,
	&__left-btn,
	&__right-btn {
		position: absolute;
		background: none;
		padding: 2rem;

		img {
			width: 30px;
			height: 30px;
		}
	}

	&__close-btn {
		right: 0;
		top: 0;
		padding-right: 3em;
	}

	&__left-btn {
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&__right-btn {
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

[data-choice='nnpb'][data-img-choice='1'] > div.product-img__img {
	background-image: url('../img/NNPB - TECHGAFIL.webp');
}
[data-choice='nnpb'][data-img-choice='2'] > div.product-img__img {
	background-image: url('../img/PB - TECHGAFIL.webp');
}

[data-choice='pb'][data-img-choice='1'] > div.product-img__img {
	background-image: url('../img/PB - TECHGAFIL.webp');
}
[data-choice='pb'][data-img-choice='2'] > div.product-img__img {
	background-image: url('../img/NNPB - TECHGAFIL.webp');
}

/////////////////////
// CONTACT SECTION //
/////////////////////
#contact {
	scroll-margin-top: 190px;
}

.honey {
	display: none;
}

.contact__wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 10em 0;
}

.contact-info {
	width: 100%;
	background: var(--dark);
	color: #fff;
	padding: 5em;
	margin-bottom: 10em;

	&__header {
		font-size: 3.2rem;
		font-weight: 700;
		text-align: center;
		margin-bottom: 1em;
	}

	&__text {
		font-size: 1.6rem;
		margin-bottom: 3em;
	}

	&__company-name {
		text-transform: uppercase;
	}

	&__addres-data {
		font-size: 1.6rem;
		margin-bottom: 1em;
	}
}

.contact-form {
	width: 100%;
	color: var(--dark);

	&__header {
		font-size: 3.2rem;
		font-weight: 700;
		text-align: center;
		margin-bottom: 1em;
	}

	&__form {
		display: flex;
		flex-direction: column;
		padding: 1px;

		label {
			font-size: 1.6rem;
			font-weight: 700;
		}

		input,
		textarea {
			border: none;
			border-bottom: 0.25px solid var(--dark);
			padding: 1em;
			font-weight: 100;
			font-size: 1.6rem;
			margin-bottom: 1.5em;
		}

		button {
			align-self: center;
			margin-top: 1em;
			font-weight: 700;
			font-size: 2rem;
			color: #fff;
			background: var(--dark);
			padding: 0.5em 1.5em;
			border-radius: 100px;
		}
	}
}

///////////////
// THANK YOU //
///////////////

.main__text--thank-you {
	position: absolute;
	color: #000;
	top: 50%;
	left: 50%;
	border-radius: 10px;
	box-shadow: 0 0 10px var(--dark-40);
	font-size: 2rem;
	text-align: center;
	transform: translate(-50%, -50%);
	background-color: #fff;

	p {
		padding: 2em;
	}
}

////////////
// FOOTER //
////////////

footer {
	background-color: var(--dark);
	display: flex;
	justify-content: center;
	height: 180px;
	position: relative;

	.footer {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;

		.logo {
			padding: 2em 3em 0.5em 3em;

			img {
				width: 150px;
			}
		}

		.menu__menu {
			display: none;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		&__social {
			display: flex;
			align-items: center;
			padding-bottom: 2em;

			a {
				img {
					padding: 1em;
					width: 5em;
				}
			}
		}
	}
}

/////////////
// COOKIES //
/////////////

// .cookie::before {
// 	content: '🍪';
// 	font-size: 5rem;
// 	position: absolute;
// 	top: -8rem;
// 	left: 2rem;
// }

// .cookie {
// 	position: fixed;
// 	display: flex;
// 	bottom: 0;
// 	left: 50%;
// 	width: 50%;
// 	height: 10%;
// 	border-radius: 5px 5px 0 0;
// 	box-shadow: 0 0 10px var(--dark-70);
// 	transform: translate(-50%, 100%);
// 	background-color: #fff;
// 	justify-content: center;
// 	align-items: center;
// 	opacity: 0;
// 	animation: show-cookies 1s 1s forwards;

// 	&--text {
// 		color: #000;
// 		text-align: center;
// 		font-size: 2rem;
// 		margin: 3em;
// 	}

// 	&--btn {
// 		padding: 1em 2em;
// 		font-size: 2rem;
// 		color: #fff;
// 		border-radius: 200px;
// 		background-color: var(--dark);
// 	}
// }

// .hide {
// 	display: none;
// }

.cookie {
	position: fixed;
	display: flex;
	flex-direction: column;
	bottom: 0;
	left: 50%;
	min-width: 80%;
	width: fit-content;
	height: fit-content;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 10px var(--dark-70);
	transform: translate(-50%, 100%);
	background-color: #fff;
	justify-content: center;
	align-items: center;
	opacity: 0;
	animation: show-cookies 1s 1s forwards;

	&--text {
		color: #000;
		text-align: center;
		font-size: 2rem;
		margin: 1em;
	}

	&--btn {
		padding: 1em 1.5em;
		margin-bottom: 1em;
		font-size: 2rem;
		color: #fff;
		border-radius: 200px;
		background-color: var(--dark);
	}
}

.hide {
	display: none;
}

///////////
// MEDIA //
///////////

@media (min-width: 420px) {
	footer {
		height: 144px;
		.footer {
			justify-content: space-between;

			.logo {
				padding: 3em 6em 3em 0;
			}
			&__social {
				padding-bottom: 0;
			}
		}
	}
}
@media (min-width: 576px) {
	.wrapper {
		padding: 0 5em;
	}
	nav {
		.nav {
			.logo {
				img {
					width: 230px;
				}
			}
		}
	}

	.main {
		&__hero-img-products {
			flex-wrap: nowrap;
		}
		&__text {
			flex-wrap: nowrap;

			&-header {
				margin-top: 4em;
				margin-bottom: 2rem;
			}

			&-header--left {
				position: relative;
				width: 45%;
			}
			&-header--right {
				position: relative;
				width: 45%;
			}
		}
	}

	.contact-info {
		width: 80%;
	}

	.contact-form {
		width: 80%;
	}
}

@media (min-width: 576px) and (min-height: 768px) {
	.main {
		&__text {
			&-header {
				margin-top: 7em;
				font-size: 4.2rem;
			}

			&-paragraf {
				font-size: 2rem;
			}
		}
	}
}

@media (min-width: 768px) {
	nav {
		.nav {
			.menu__mobile-languages {
				&--one-item {
					a {
						display: flex;
					}

					.menu__mobile-flag {
						display: none;
					}
				}
			}
		}
	}
	.main {
		&__text {
			&-header {
				margin-top: 4em;
				font-size: 4.2rem;
			}

			&-paragraf {
				font-size: 2rem;
			}
		}
	}

	.contact__wrapper {
		justify-content: space-between;
	}

	.contact-info {
		width: 45%;
	}

	.contact-form {
		width: 45%;
	}

	.cookie::before {
		content: '🍪';
		font-size: 8rem;
		position: absolute;
		top: -8rem;
		left: 2rem;
	}

	.cookie {
		flex-direction: row;

		&--btn {
			margin-top: 1em;
		}
	}
}

@media (min-width: 992px) {
	nav {
		.menu__menu-desktop {
			display: flex;
		}
		.menu__mobile-menu {
			display: none;
		}
	}

	.main {
		&__text {
			&-header {
				margin-top: 3.5em;
				font-size: 5.2rem;
			}
		}
	}

	footer {
		.footer {
			.logo {
				img {
					width: 230px;
				}
			}

			.menu__menu {
				display: block;
			}
			&__social {
				a {
					img {
						width: 6em;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	nav {
		.nav {
			.logo {
				img {
					width: 322px;
				}
			}

			.menu__mobile-languages {
				&--all-items {
					top: 35px;
				}
			}
		}
	}
	.main {
		&__text {
			&-header {
				margin-top: 4.5em;
			}
			&--contact {
				bottom: 3rem;
			}
		}
	}

	.cookie::before {
		font-size: 9rem;
	}

	.cookie {
		min-width: 60%;
	}
}

@media only screen and (min-width: 1366px) and (orientation: landscape) {
	nav {
		.nav {
			.menu__mobile-languages {
				&--all-items {
					top: 100px;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	nav {
		.menu__mobile-menu {
			display: none;
		}
		.nav {
			.menu__mobile-languages {
				display: none;
			}
			.menu__languages {
				display: flex;
			}
		}
	}
	.main {
		&__text {
			&-header {
				margin-top: 5em;
				font-size: 7.2rem;
			}

			&-paragraf {
				font-size: 2.4rem;
			}
		}
	}
	.contact__wrapper {
		justify-content: space-evenly;
	}
	.contact-info {
		width: 35%;
	}

	.contact-form {
		width: 35%;
	}

	.cookie {
		min-width: 50%;
	}
}

////////////////
// AMIMATIONS //
////////////////

@keyframes show-menu {
	100% {
		opacity: 1;
	}
}

@keyframes show-cookies {
	100% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}
